.cat-cafe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #2365B9;
    height: 500px;
}

.kitten {
    border: dashed 1px green;
    height: 100px;
    width: 200px;
    background-color: #237842;
}