body {
    background: #131313;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

.strip-mall {
    display: flex;
    flex-direction: row;
}

.tower {
    display: flex;
    flex-direction: column;
}

.store {
    height: 140px;
    width: 200px;
    background: #435912;
    border: solid 2px #124381;
    display: flex;
    justify-content: space-around;
}

.story {
    height: 140px;
    width: 200px;
    background: #782391;
    border: 2px dashed #212121;
    display: flex;
    justify-content: space-around;
}

.window {
    height: 50px;
    width: 20px;
    background-color: #212121;
    margin-top: 20px;
}

.light {
    background: yellow;
}

.door {
    width: 20px;
    height: 37px;
    background: #212121;
    display: flex;
    align-items: flex-end;
}